@{
    ViewBag.Title = "Doctors Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p></p>
        <p></p>
        <p><a href="https://localhost:44323/Doctors/Add" class="btn btn-default btn-lg">+新增醫囑</a></p>
    </div>
</body>
</html>
