@{
    ViewBag.Title = "Examiners Page";
}

<!DOCTYPE html>

<style>
    .d1 {
        position: relative;
        left: 1000px;
        top: 0px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="d1">
        <p></p>
        <p></p>
        <p><a href="https://localhost:44323/Examiners/Add" class="btn btn-primary btn-lg">+輸入檢驗值</a></p>
    </div>
</body>
</html>

